body {
    padding-top: 56px;
    
  }

  .sidebar {
    background-color: #f8f9fa;
  }

  .sidebar .nav-link {
    color: #495057;
    
  }
  .sidebar{
    min-height: calc(100vh - 50px);
  }

  .content {
    padding: 20px;
  }

  .card {
    margin-bottom: 20px;
  }